body {
    font-family: sans-serif;
    color: #111;
  }
  
  html,
  body,
  #root {
    margin: 0;
    height: 80%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
  }
  
  header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    font-weight: 700;
    align-items: center;
  }
  
  .logo {
    text-decoration: none;
    display: block;
    line-height: 1;
  }
  
  header a,
  header a:focus,
  header a:active,
  header a:visited {
    color: #111;
  }
  
  header a:hover {
    color: rgb(0, 0, 0);
  }
  
  header select {
    margin-left: 1em;
  }
  
  .overview-example__add {
    display: none;
  }
  
  .react-flow__node a {
    font-weight: 700;
    color: #111;
  }
  
  .react-flow__node.dark-node {
    background: #0041d0;
    color: #f8f8f8;
  }
  
  .react-flow__node.dark {
    background: #557;
    color: #f8f8f8;
  }
  
  .react-flow__node-selectorNode {
    font-size: 12px;
    background: #f0f2f3;
    border: 1px solid 555;
    border-radius: 5px;
    text-align: center;
  }
  
  .react-flow__node-selectorNode .react-flow__handle {
    border-color: #f0f2f3;
  }
  
  @media screen and (min-width: 768px) {
    .overview-example__add {
      display: block;
    }
  }


/*
.diamond {
    cursor: grab;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    background: #49c011;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 85px;
    
  }
  .one {
    flex-direction: column;
    display: flex;
    cursor: grab;
    flex-grow: 1;
    color:rgb(255, 255, 255);
    padding: 20px 10px;
    font-size: 12px;
    background: #a11a1a;
    
  }
  .dndnode2 {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #f3c9c9;
    
  }
  .dndnode3 {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #fa2a2a;
    
  }
  .dndnode4 {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #5a72fd;
    
  }
  .dndnode5 {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #faea0f;
    
  }
  .dndnode6 {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #faea0f;
    
  }
  */