

.diamond {
    cursor: grab;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    background: #49c011;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    margin: 60px 0 10px 85px;
    
  }
  .one {
    flex-direction: column;
    display: flex;
    cursor: grab;
    flex-grow: 1;
    color:rgb(255, 255, 255);
    padding: 20px 10px;
    font-size: 12px;
    background: #a11a1a;
    
  }
  .two {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #f3c9c9;
    
  }
  .three {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #fa2a2a;
    
  }
  .four {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #5a72fd;
    
  }
  .five {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #faea0f;
    
  }
  .six {
    
    padding: 20px 10px;
    font-size: 12px;
    background: #faea0f;
    
  }
  